@font-face {
    font-family: 'connections_mediumregular';
    src: url('fonts/connectionsmedium-webfont.eot');
    src: url('fonts/connectionsmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/connectionsmedium-webfont.woff2') format('woff2'),
         url('fonts/connectionsmedium-webfont.woff') format('woff'),
         url('fonts/connectionsmedium-webfont.ttf') format('truetype'),
         url('fonts/connectionsmedium-webfont.svg#connections_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'connections_lightregular';
    src: url('fonts/connectionslight-webfont.eot');
    src: url('fonts/connectionslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/connectionslight-webfont.woff2') format('woff2'),
         url('fonts/connectionslight-webfont.woff') format('woff'),
         url('fonts/connectionslight-webfont.ttf') format('truetype'),
         url('fonts/connectionslight-webfont.svg#connections_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'connectionsregular';
    src: url('fonts/connections-webfont.eot');
    src: url('fonts/connections-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/connections-webfont.woff2') format('woff2'),
         url('fonts/connections-webfont.woff') format('woff'),
         url('fonts/connections-webfont.ttf') format('truetype'),
         url('fonts/connections-webfont.svg#connectionsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}