$color-primary: #e31837
$color-primary-light: lighten($color-primary, 15%)
$color-primary-dark: darken($color-primary, 15%)
$color-secondary: #0073cf
$color-accent: #00ad50

$color-dark: #111
$color-light: #d1c9c0
$color-lighter: #ebe7dd
$color-lightest: #f9f8f5
$color-black: #000
$color-white: #fff

$color-pin: #30be71

$color-twitter: #55acee
$color-facebook: #3b5999
$color-instagram: #2591dc

$border-radius: 0.33rem

$trans-speed: 0.75s

$animate-speed: 6.67s