@import fonts
@import variables
@import icons
@import animations

html
  height: 100%

body
  background: $color-lightest
  font-family: 'connectionsregular'
  font-size: 14px
  margin: 0
  padding: 0

  *, *:before
    box-sizing: border-box

h1, h2, h3, h4, h5
  font-weight: normal
  text-shadow: 0 -1px 0 rgba(0,0,0,0.08)

#map-container
  display: block

  &.zoomedPre 
    #map-inner
      transform: scale(1.10,1.10)

  &.zoomed 
    #map-inner
      transform: scale(1.5,1.5)

    #map-regions-US
      left: -100vw

    .map-pin
      opacity: 1
      top: 0

  &.usa
    #map-regions
      left: -100vw

    #map-regions-US
      left: 0

      svg
        transform: scale(1,1)
        left: 0
        top: 0

  svg
    overflow: visible !important

#map-inner
  display: block
  transition: transform ease $trans-speed

#map-regions
  display: block
  width: 72.5vw
  position: relative
  height: 100vh
  left: 0

#map-regions-US
  position: absolute
  display: block
  top: 0
  left: 0
  width: 72.5vw
  height: 100vh
  transition: transform ease $trans-speed

  svg
    display: inline-block
    transform: scale(0.18, 0.18)
    top: 3.33%
    left: -25.5%
    position: relative

.container-wrap
  display: block
  position: absolute
  width: 100%
  height: 100%
  overflow: hidden
  box-shadow: 0 2px 4px rgba(0,0,0,0.15)

.map-wrap
  float: left
  width: 72.5%
  z-index: 0
  position: relative

  > h1
    margin: 0
    padding: 0.33em 0.5em 0.33em 0.75em
    color: $color-white
    position: absolute
    z-index: 2
    text-shadow: 0 1px 2px rgba(0,0,0,0.15)
    font-size: 2.25vw
    background: $color-primary

    &:after
      content: ""
      position: absolute
      left: calc(100% - 0.25em)
      border-top: 0.95em solid $color-primary
      border-right: 0.95em solid transparent
      border-bottom: 0.95em solid transparent
      border-left: 0.95em solid $color-primary
      transform: scaleX(0.75)
      top: 0

  > h2
    position: absolute
    bottom: 0
    right: 0
    color: $color-white
    background: $color-secondary
    margin: 0
    padding: 0.33em 1em 0.33em 0.5em
    z-index: 2
    text-shadow: 1px -1px 2px rgba(0,0,0,0.15)
    font-size: 1.75vw

    &:after
      content: ""
      position: absolute
      right: calc(100% - 0.25em)
      border-top: 0.95em solid transparent
      border-right: 0.95em solid $color-secondary
      border-bottom: 0.95em solid $color-secondary
      border-left: 0.95em solid transparent
      transform: scaleX(0.75)
      top: 0

  .map-region-name
    position: absolute

  .map-pin
    position: absolute
    height: 1em
    width: 1em
    left: 0
    right: 0
    top: -100vh
    bottom: 0
    font-size: 4em
    margin: auto
    opacity: 0
    z-index: 3
    transition: opacity ease $trans-speed, top ease $trans-speed

    &:after
      position: absolute
      top: 100%
      background: rgba(0,0,0,0.33)
      height: 0.25em
      width: 0.67em
      border-radius: 50%
      top: 0.8em
      left: 0.175em
      content: ""
      z-index: 0
      filter: blur(1px)

    .icon
      color: $color-primary
      position: relative
      z-index: 1

    .map-pin-count
      position: absolute
      padding: 0.25em
      top: 0.725em
      left: 1.4em
      border-radius: 50%
      background: $color-white
      font-size: 0.225em
      z-index: 1
      width: 1.5em
      text-align: center

      > p
        padding: 0
        margin: 0
        color: $color-primary

.social-wrap
  height: 100%
  width: 27.5%
  position: absolute
  right: 0
  top: 0
  z-index: 1
  box-shadow: -2px 0 4px rgba(0,0,0,0.25)
  background: $color-white

.social-outer
  top: 0
  height: 60%
  box-shadow: 0 1px 2px rgba(0,0,0,0.15)
  overflow: hidden
  position: relative

  &:after
    content: ""
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 100%
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 95%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,0)), color-stop(95%,rgba(255,255,255,1)))
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 80%,rgba(255,255,255,1) 95%)
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 80%,rgba(255,255,255,1) 95%)
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 80%,rgba(255,255,255,1) 95%)
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 80%,rgba(255,255,255,1) 95%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )
    z-index: 2

  .social-item
    width: 100%
    color: $color-dark * 3
    opacity: 1
    position: relative
    display: block
    text-align: left
    box-shadow: 0 1px 2px rgba(0,0,0,0.15)

    &.social-twitter
      .social-name > p
        color: $color-twitter

        >span
          display: block

        > span:before
          content: "@"

      .social-icon
        color: $color-twitter

    &.social-facebook
      .social-name > p
        color: $color-facebook

      .social-icon
        color: $color-facebook

    &.social-instagram
      .social-name > p
        color: $color-instagram

      .social-icon
        color: $color-instagram

    &.social-custom
      .social-name > p
        color: $color-primary

      .social-icon
        color: $color-primary

  .social-inner
    display: inline-block
    padding: 1.5em
    margin: 0.25em 0
    width: 100%
    font-size: 0.925em

  .social-img
    width: 3em
    float: left
    vertical-align: top

    img
      width: 100%
      border-radius: $border-radius
      overflow: hidden
      box-shadow: 0 1px 2px rgba(0,0,0,0.15)

  .social-name
    float: left
    width: calc(100% - 3em)
    position: relative
    z-index: 1

    > p
      display: inline-block
      width: calc(100% - 1em)
      font-size: 1.05em
      margin: 0.33em 0 0.425em 1em
      line-height: 1.33

      > span
        color: $color-dark * 3
        font-size: 0.925em
        display: none

  .social-post
    float: left
    width: 100%

    > p
      font-size: 1.05em
      line-height: 1.25

  .social-icon
    position: absolute
    right: 0.33em
    top: 0.33em
    font-size: 1.75em
    color: darken($color-primary-dark, 12.5%)
    z-index: 0
    text-shadow: 0 1px 0 fade-out($color-white, 0.925)

.social-bottom
  bottom: 0
  height: 40%
  background: darken($color-secondary, 8%)
  position: relative

  > img
    width: 100%
  
  .google-chart
    display: block
    width: 100%
    position: relative
    overflow: hidden
    margin-left: 0.25em

    div
      max-height: 100%

.poll-chart-wrap
  background: $color-lightest
  position: absolute
  bottom: 0
  width: calc(100% - 1em)
  height: calc(100% - 2.25em)
  margin: 0 0.5em

.poll-item
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 0
  transition: opacity ease $trans-speed

  &.active
    opacity: 1

  &.poll-gif
    img
      width: 100%
      height: auto

  &.poll-poll
    h3
      margin: 0.425em 0.67em
      color: $color-white
      font-weight: 600
      font-size: 1.075em

    .poll-question
      color: $color-primary
      margin: 0.25em 0.5em
      font-size: 0.925em
      font-weight: 600


