<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="socialmapApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container-wrap" ng-controller="MainCtrl">
      <div class="map-wrap">
        <h1>Together, let's light up the world</h1>
        <h2>Life's better when we're connected</h2>

        <div id="map-container">

          <div id="map-inner">
            <div id="map-regions"></div>
            <div id="map-regions-US"></div>
          </div>

          <div class="map-region-name">
            <p>North Carolina</p>
          </div>

          <div class="map-pin">
            <i class="icon icon-location-pin"></i>
            <div class="map-pin-count">
              <p>0</p>
            </div>
          </div>
          
        </div>
      </div>
      <div class="social-wrap">

        <div class="social-outer" ng-init="loadPosts()">

          <div id="social{{$index}}" 
            class="social-item social-{{feedPost.site}}"  
            ng-repeat="feedPost in feedPosts" social-item>
            <div class="social-inner">
              <div class="social-img">
                <img ng-src="{{feedPost.avatar_url}}">
              </div>
              <div class="social-name">
                <p>
                  {{feedPost.screen_name}}
                  <span>{{feedPost.name}}</span>
                </p>
              </div>
              <div class="social-post">
                <p>{{feedPost.title}}</p>
              </div>
              <div class="social-icon">
                <i class="icon icon-{{feedPost.site}}"></i>
              </div>
            </div>
          </div>

        </div>

        <div class="social-bottom" ng-init="loadPolls()">

          <div id="poll{{$index}}"
            class="poll-item poll-{{pollItem.type}}"
            ng-class="{'active': pollCount === $index}"
            ng-repeat="pollItem in pollItems" poll-item-dir>

            <div ng-if="pollItem.type === 'gif'">
              <img ng-src="{{pollItem.url}}">
            </div>

            <div ng-if="pollItem.type === 'poll'">
              <h3>What do you think?</h3>
              <div class="poll-chart-wrap">
                <p class="poll-question">
                  {{pollItem.text}}
                </p>
                <div class="google-chart" google-chart chart="chartObject"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       // ga('create', 'UA-XXXXX-X');
       // ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->

    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">

        var currData = [];
        var prevData = [];
        var regionNew = [];

        var options = {
            backgroundColor: 'transparent',
            datalessRegionColor: '#d1c9c0',
            keepAspectRatio: false,
            width: '100%',
            height: '100%',
            colorAxis: {
                colors: ['#83c6fb','#3153d9','#011669'],
                minValue: 1,
                maxValue: 100
            },
            sizeAxis: {minValue: 0, maxValue: 100},
            legend: 'none'
        };

        var optionsUS = {
            region: 'US',
            resolution: 'provinces',
            backgroundColor: 'transparent',
            datalessRegionColor: '#d1c9c0',
            keepAspectRatio: false,
            width: '100%',
            height: '100%',
            colorAxis: {
                colors: ['#83c6fb','#3153d9','#011669'],
                minValue: 1,
                maxValue: 100
            },
            sizeAxis: {minValue: 0, maxValue: 100},
            legend: 'none'
        }

        var data;
        var dataUS;
        var chart;
        var chartUS;
        var mapTimeout;

        var init = true;
        var isUS = false;
        var partyOn = false;
        var hasMulti = false;

        var animateSpeed = 750;
        var timeoutSpeed = 3000;

        function drawRegionsMap(){
            regionArray = [['Country','Total']];
            data = google.visualization.arrayToDataTable(regionArray);
            chart = new google.visualization.GeoChart(document.getElementById('map-regions'));
            chart.draw(data, options);

            chartUS = new google.visualization.GeoChart(document.getElementById('map-regions-US'));
            chartUS.draw(data, optionsUS);

            startMap();
        }

        function startMap(){

            mapTimeout = setTimeout(drawMapData, timeoutSpeed);
        }

        function restoreMap(){


          $('#map-inner').delay(timeoutSpeed).animate({
            opacity: 0
          }, animateSpeed, function(){

            data = google.visualization.arrayToDataTable(regionArray);
            chart = new google.visualization.GeoChart(document.getElementById('map-regions'));
            chart.draw(data, options);

            chartUS = new google.visualization.GeoChart(document.getElementById('map-regions-US'));
            chartUS.draw(data, optionsUS);

            partyOn = false;
            
            animateIn(false);
          });
        }


        function animateIn(isFirst){

          $('#map-container').removeClass('zoomedPre');
          $('#map-container').addClass('zoomed');

          if (hasMulti === true){

            console.log('milti');

            if (regionNew.length > 1){
              partyOn = true;
              hasMulti = true;
            } else {
              partyOn = false;
              hasMulti = false;
            }

            



            $('#map-inner').delay(animateSpeed).animate({
              opacity: 1
            }, animateSpeed, function(){
              setTimeout(animateOut, timeoutSpeed / 2);
            });
          }
          else if (isFirst === true && hasMulti === false){

            console.log('MIDDLE');

            


            


            $('#map-inner').delay(animateSpeed).animate({
              opacity: 1,
              fill: '#ffffff'
            }, animateSpeed, function(){


              


              restoreMap();
            });
          } else {

            console.log('ELSE');

            


            $('#map-container').removeClass('zoomed');
            $('#map-container').removeClass('usa');




            $('#map-inner').delay(animateSpeed).animate({
              opacity: 1
            }, animateSpeed, function(){
              startMap();
            });
          }
        }

        function animateOut(){

          $('#map-container').addClass('zoomedPre');

          $('#map-inner').animate({
            opacity: 0
          }, animateSpeed, function(){

            data = google.visualization.arrayToDataTable(regionArray);

            $('.map-pin-count').html('<p>'+regionNew[0][1]+'</p>');

            if (regionNew[0][0].indexOf('US-') !== -1){


              isUS = true;




              $('#map-container').addClass('usa');




              var optionsSpecUS = {
                backgroundColor: 'transparent',
                datalessRegionColor: '#d1c9c0',
                colorAxis: {
                    colors: ['#83c6fb','#3153d9','#011669'],
                    minValue: 1,
                    maxValue: 100
                },
                keepAspectRatio: false,
                width: '100%',
                height: '100%',
                sizeAxis: {minValue: 0, maxValue: 100},
                legend: 'none',
                region: regionNew[0][0],
                resolution: 'provinces'
              }

              chartUS = new google.visualization.GeoChart(document.getElementById('map-regions-US')); 
              chartUS.draw(data, optionsSpecUS);

            } else {


              isUS = false;




              $('#map-container').removeClass('usa');




              var optionsSpec = {
                backgroundColor: 'transparent',
                datalessRegionColor: '#d1c9c0',
                colorAxis: {
                    colors: ['#83c6fb','#3153d9','#011669'],
                    minValue: 0,
                    maxValue: 100
                },
                keepAspectRatio: false,
                width: '100%',
                height: '100%',
                sizeAxis: {minValue: 0, maxValue: 100},
                legend: 'none',
                region: regionNew[0][0]
              }

              chart = new google.visualization.GeoChart(document.getElementById('map-regions'));
              chart.draw(data, optionsSpec);
            }

            if (regionNew.length <= 1){
              isMulti = false;
              console.log('1');
              animateIn(true);
            } else {
              regionNew.shift();
              console.log('2');
              animateIn(false);
            }

          });
        }

        var tempNewRegion;

        function drawMapData(){
          $.ajax({
              url: '/feeds/mapData.json', 
              dataType: 'json',
              cache: false
          })
          .success(function(data){

              prevData = currData;
              currData = data;
              regionNew = [];
              regionArray = [['Country','Total']];

              _.each(data, function(item){
                
                tempNewRegion = true;

                  _.each(prevData, function(prevItem){
                      if (prevItem.country === item.country && prevItem.total !== item.total){
                          regionNew.push([item.country,item.total]);
                          partyOn = true;
                      }

                      if (prevItem.country === item.country){
                        tempNewRegion = false;
                      }

                  });

                  if (tempNewRegion === true && init === false){
                    regionNew.push([item.country,item.total]);
                    partyOn = true;
                  }

                  regionArray.push([item.country,Number(item.total)]);              
              });

              if (regionNew.length > 1){
                hasMulti = true;
              } else {
                hasMulti = false;
              }

              if (init === false && partyOn === true){
                  clearTimeout(mapTimeout);
                  animateOut();
              } else if (init === false && partyOn === false){
                  startMap();
              } else if (init === true){
                data = google.visualization.arrayToDataTable(regionArray);
                chart = new google.visualization.GeoChart(document.getElementById('map-regions'));
                chart.draw(data, options);

                chartUS = new google.visualization.GeoChart(document.getElementById('map-regions-US'));
                chartUS.draw(data, optionsUS);

                init = false;
                startMap();
              }
          })
          .error(function(){
              console.log('Error loading JSON');
              startMap();
          });
      }

      google.load('visualization', '1', {packages:['geochart']});
      google.setOnLoadCallback(drawRegionsMap);
    </script>
    
</body>
</html>