<div class="container-wrap">
  <div class="map-wrap">
    <mappy data="data" map-data="mapPathData" key="metric" colors="heatmapColors" min="0" max="100" humanize-fn="mapDataHumanizeFn(val)"></mappy>
    <div class="map-search">
      <input type="text" placeholder="Enter your state or country" autofocus>
      <i class="icon icon-magnifying-glass"></i>
    </div>
  </div>
  <div class="social-wrap">

    <div class="social-top">

      <img src="/images/social-top.png">

    </div>
    <div class="social-bottom">

      <img src="/images/social-bottom.png">

    </div>

  </div>
</div>