<div class="container-wrap">
  <div class="map-wrap">
    <h1>Together, let's light up the world</h1>
    <h2>Life's better when we're connected</h2>
    <!-- <mappy data="data" map-data="mapPathData" key="metric" colors="heatmapColors" min="0" max="100" humanize-fn="mapDataHumanizeFn(val)"></mappy> -->
    <!-- <div class="map-search">
      <input type="text" placeholder="Enter your state or country" autofocus>
      <i class="icon icon-magnifying-glass"></i>
    </div> -->

    <div id="map-container">
      
      <div id="map-container-usa"></div>
      
    </div>
    <script>
        var map = new Datamap({
          element: document.getElementById('map-container')
        });
    </script>

    
    <script>
        var map2 = new Datamap({
          element: document.getElementById('map-container-usa'),
          scope: 'usa'
        });
    </script>
    
    <div class="map-pin">
      <i class="icon icon-location-pin"></i>
    </div>
  </div>
  <div class="social-wrap">

    <div class="social-outer" ng-init="loadPosts()">

      <div id="social{{$index}}" 
        class="social-item social-{{feedPost.site}}"  
        ng-repeat="feedPost in feedPosts" social-item>
        <div class="social-inner">
          <div class="social-img">
            <img ng-src="{{feedPost.avatar_url}}">
          </div>
          <div class="social-name">
            <p>
              {{feedPost.screen_name}}
              <span>{{feedPost.name}}</span>
            </p>
          </div>
          <div class="social-post">
            <p>{{feedPost.title}}</p>
          </div>
          <div class="social-icon">
            <i class="icon icon-{{feedPost.site}}"></i>
          </div>
        </div>
      </div>

    </div>

    <div class="social-bottom">

      <!--  <img src="images/boa.gif"> -->
      <img src="images/boa-2.jpg">
      <!-- <div class="google-chart" google-chart chart="chartObject"></div> -->

    </div>

  </div>
</div>